html,body{
    margin:0;
    padding:0;
    border:0;
    background-color:#FFF;
    font-size:20px;
    font-weight:bold;
    color:#27649d;
}
td {
    vertical-align:middle
}
input {/*input栏*/
    font-size:20px;
    vertical-align:middle;
    BORDER: #a2c4d7 2px solid;
    padding:2px;
    text-align:right;
}